body{
	background: url("../images/d_background.jpg") no-repeat;
	background-size: 1400px 950px;
	background-attachment: fixed;
	
}
.head-calender{
	margin: 0 auto;
	width: 75%;
	height: 150px;

}
.sunday{
	margin-top: 20px;
	width: 100%;
	height: 38px;
	text-align: center;	
	background: rgba(225,225,225,0.5);	
}
.sunday img{
	margin-top: -15px;
}
.calender{
	margin: 30px auto;
	width: 75%;
	height: 500px;

}
.calender li{
	margin: 3px;
	float: left;
	width: 135px;
	height: 84px;
	display: inline-block;
	border: 1px solid #FFFFFF;
}


.calenderbg{
	margin: 30px auto auto auto;
	float: left;
}
.year{
	margin:30px 10px auto auto;
	float: right;
}
.year:after{
	display: block;
	content: "";
	visibility: hidden;
	overflow: hidden;
	clear: both;
	height: 0;
}
.year select{
	margin-right: 20px;
}
.year span{
	color: #4c4844;
	font: 42px "comic sans ms";
}
.year span b{
	font-size: 56px;
	font-family: "comic sans ms";
}
.months{
	margin: auto;
	float: left;
	width: 100%;
}
.months ul li:hover{
	cursor: pointer;
	
}

.month_1{
	margin:  0px 17px;
	float: left;
	width: 48px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: 0px -55px;

}
.month_2{
	margin:  0px 17px;
	float: left;
	width: 47px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -47px -55px;

}

.month_3{
	margin:  0px 17px;
	float: left;
	width: 47px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -84px -55px;

}
.month_4{
	margin: 0px 17px;
	float: left;
	width: 47px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -122px -55px;

}

.month_5{
	margin:  0px 17px;
	float: left;
	width: 47px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -168px -55px;

}
.month_6{
	margin:  0px 17px;
	float: left;
	width: 47px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -210px -55px;

}
.month_7{
	margin:  0px 17px;
	float: left;
	width: 47px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -250px -55px;

}

.month_8{
	margin:  0px 17px;
	float: left;
	width: 44px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -300px -107px;

}
.month_9{
	margin:  0px 17px;
	float: left;
	width: 46px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -335px -155px;

}
.month_10{
	margin:  0px 17px;
	float: left;
	width: 46px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -381px -155px;

}
.month_11{
	margin:  0px 17px;
	float: left;
	width: 46px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -427px -155px;
}
.month_12{
	margin:  0px 17px;
	float: left;
	width: 46px;
	height: 48px;
	background: url("../images/d_.png") no-repeat;
	background-position: -473px -155px;
}

.day01{
	
	background: url("../images/day01.png") no-repeat;
}
.day01:hover{
	background: url("../images/month1.png") no-repeat;
	cursor: pointer;
}

.day02{
	background: url("../images/day02.png") no-repeat;
}
.day02:hover{
	background: url("../images/month2.png") no-repeat;
	cursor: pointer;
}

.day03{
	background: url("../images/day03.png") no-repeat;
}
.day03:hover{
	background: url("../images/month3.png") no-repeat;
	cursor: pointer;
}
.day04{
	background: url("../images/day04.png") no-repeat;
}
.day04:hover{
	background: url("../images/month4.png") no-repeat;
	cursor: pointer;
}
.day05{
	background: url("../images/day05.png") no-repeat;
}
.day05:hover{
	background: url("../images/month5.png") no-repeat;
	cursor: pointer;
}
.day06{
	background: url("../images/day06.png") no-repeat;
}
.day06:hover{
	background: url("../images/month6.png") no-repeat;
	cursor: pointer;
}
.day07{
	background: url("../images/day07.png") no-repeat;
}
.day07:hover{
	background: url("../images/month7.png") no-repeat;
	cursor: pointer;
}
.day08{
	background: url("../images/day08.png") no-repeat;
}
.day08:hover{
	background: url("../images/month8.png") no-repeat;
	cursor: pointer;
}
.day09{
	background: url("../images/day09.png") no-repeat;
}
.day09:hover{
	background: url("../images/month9.png") no-repeat;
	cursor: pointer;
}
.day10{
	background: url("../images/day10.png") no-repeat;
}
.day10:hover{
	background: url("../images/month10.png") no-repeat;
	cursor: pointer;
}
.day11{
	background: url("../images/day11.png") no-repeat;
}
.day11:hover{
	background: url("../images/month11.png") no-repeat;
	cursor: pointer;
}

.day12{
	background: url("../images/day12.png") no-repeat;
}
.day12:hover{
	background: url("../images/month12.png") no-repeat;
	cursor: pointer;
}

.day13{
	background: url("../images/day13.png") no-repeat;
}
.day13:hover{
	background: url("../images/month13.png") no-repeat;
	cursor: pointer;
}
.day14{
	background: url("../images/day14.png") no-repeat;
}
.day14:hover{
	background: url("../images/month14.png") no-repeat;
	cursor: pointer;
}
.day15{
	background: url("../images/day15.png") no-repeat;
}
.day15:hover{
	background: url("../images/month15.png") no-repeat;
	cursor: pointer;
}
.day16{
	background: url("../images/day16.png") no-repeat;
}
.day16:hover{
	background: url("../images/month6.png") no-repeat;
	cursor: pointer;
}
.day17{
	background: url("../images/day17.png") no-repeat;
}
.day17:hover{
	background: url("../images/month7.png") no-repeat;
	cursor: pointer;
}
.day18{
	background: url("../images/day18.png") no-repeat;
}
.day18:hover{
	background: url("../images/month2.png") no-repeat;
	cursor: pointer;
}
.day19{
	background: url("../images/day19.png") no-repeat;
}
.day19:hover{
	background: url("../images/month15.png") no-repeat;
	cursor: pointer;
}
.day20{
	background: url("../images/day20.png") no-repeat;
}
.day20:hover{
	background: url("../images/month12.png") no-repeat;
	cursor: pointer;
}
.day21{
	background: url("../images/day21.png") no-repeat;
}
.day21:hover{
	background: url("../images/month1.png") no-repeat;
	cursor: pointer;
}
.day22{
	background: url("../images/day22.png") no-repeat;
}
.day22:hover{
	background: url("../images/month2.png") no-repeat;
	cursor: pointer;
}
.day23{
	background: url("../images/day23.png") no-repeat;
}
.day23:hover{
	background: url("../images/month3.png") no-repeat;
	cursor: pointer;
}
.day24{
	background: url("../images/day24.png") no-repeat;
}
.day24:hover{
	background: url("../images/month5.png") no-repeat;
	cursor: pointer;
}
.day25{
	background: url("../images/day25.png") no-repeat;
}
.day25:hover{
	background: url("../images/month12.png") no-repeat;
	cursor: pointer;
}
